@import 'antd/dist/antd.css';

.App {
  margin-top: 3rem;
  text-align: center;
}

.App img{
  margin-bottom: 3rem;
}

.App .loader {
  margin: 3em auto;
}

.App .searchBoxGroup label {
  display: block;
  height: 1.5em;
  margin-top: 1em;
  text-align: center;
}